@{
    ViewBag.Title = "CheckIn";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Here you can check in vehicles.</p>
    </div>
</body>
</html>
